google-generativeai
llama-index
llama-index-core
llama-index-utils-workflow
llama-index-llms-gemini
llama-parse
llama-index-embeddings-gemini
llama-index-embeddings-huggingface
llama-index-readers-whisper
gradio
pydantic
PyMuPDF